:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --header-title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-title-color: #000028;
  --accent-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --decor-color: #ff0070;
  --decor-hover-color: rgb(255 0 112 / 0.4);
  --decor-visability: flex;
  --page-gap: 40px;
  --page-padding: 10px;
  --main-gap: 50px;
}
